## Python Types

In [2]:
UserName:str= "nasir"
UserName

'nasir'

In [5]:
age:int= 23
age

23

In [6]:
marks:float=89.9
marks

89.9

In [8]:
isPass:bool= True
isPass

True

### Union types

In [ ]:
marks:int | str= 98
marks

In [ ]:
marks:int | str= "98"

In [9]:
from typing import Union

marks:Union[int,str]= "98"
marks

'98'

### list type

In [10]:
name:list[str]= ["nasir","'ali","sajid"]
name

['nasir', "'ali", 'sajid']

In [11]:
markes:list[int]= [32,45,67]
markes

[32, 45, 67]

Dictioary type

In [12]:

car: dict[str,str]= {"name":"tyotto"}
car

{'name': 'tyotto'}

In [14]:
car: dict[str,str | int]= {"name":"tyotto",
                     "model":2022}
car

{'name': 'tyotto', 'model': 2022}

### tupple type

In [15]:
tupple_1 :tuple[int,int,int,int] = (1,2,3,4)
tupple_1

(1, 2, 3, 4)

In [16]:
tupple_2 :tuple[int,int,str,str] = (1,2,"3","5")
tupple_2

(1, 2, '3', '5')

# set type

In [17]:
set_1:set[int]= {3,4,5,6,7,8}
set_1

{3, 4, 5, 6, 7, 8}

In [19]:
set_2 : set[int | str | bool ]= {3,4,5,"nasir",True}
set_2

{3, 4, 5, True, 'nasir'}

## funstion

In [21]:
def calculation(a:int,b:int)->None:
    result:int=a+b
    print(result)
    
calculation(3,6)

9

In [23]:
def calculation(a:int,b:int=8)->None:
    result:int=a+b
    print(result)
    
calculation(3)

11

## pydantic Models
pydantic is a python liberary to perforn data vadation

It work as interface workss in typescript for typing

You declare the shape of the data as classes with attributes

In [36]:
from pydantic import BaseModel

class Car(BaseModel):
    name:str
    color:str
    model:int
    price:int
    
car_data = {
       "name":"toyotto",
       "color":"black",
       "model": 2024,
       "price": 6000000
       
       }
 
car= Car(**car_data)
print(car)
print(car.name)
print(car.color)
print(car.price)

name='toyotto' color='black' model=2024 price=6000000
toyotto
black
6000000

In [37]:
from datetime import datetime
from typing import Union

from pydantic import BaseModel
class User(BaseModel):
    id: int
    name: str = "John Doe"
    signup_ts: Union[datetime, None] = None
    friends: list[int] = []


external_data = {
    "id": "123",
    "signup_ts": "2017-06-01 12:22",
    "friends": [1, "2", b"3"],
}
user = User(**external_data)
print(user)
print(user.id)
print(user.signup_ts)
print(user.friends)

id=123 name='John Doe' signup_ts=datetime.datetime(2017, 6, 1, 12, 22) friends=[1, 2, 3]
123
2017-06-01 12:22:00
[1, 2, 3]

## MetaData Anotation

In [40]:
from typing import Annotated
def say_hello(name: Annotated[str, "This is just meta data"]):
    return f"Hello {name}"

say_hello("Nasir Abbas")

'Hello Nasir Abbas'